
//fonts

$base-font                : 'Roboto', sans-serif;
$heading-font             : 'Poppins', sans-serif;
$base-font-size           : 18px;

//colors

$white                    : #ffffff;
$black                    : #111111;
$black-lighter            : #444444;
$gray                     : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color            : #2c3e50;
$secondary-color          : #18bc9c;
$orange                   : #ff4747;
$yellow                   : #f87c57;





