
//fonts

$base-font                : 'Roboto', sans-serif;
$heading-font             : 'Poppins', sans-serif;
$base-font-size           : 18px;

//colors

$white                    : #ffffff;
$black                    : #111111;
$black-lighter            : #444444;
$gray                     : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color            : #1A1B41;
$secondary-color          : #4DCECC;
$orange                   : #EC0B43;
$red                      : #EC0B43;
$yellow                   : #F4B942;





